.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
}
.TableContainer {
  max-width: 1000px;
  min-height: 70vh;
}
.TableFilters {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}
.rightFilter {
  display: flex;
  gap: 10px;
}
